<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">

    <context:annotation-config />
      <context:component-scan base-package="com.evolutionnext"/>

    <bean id="memberFilter" class="com.evolutionnext.MemberFilter">
        <property name="members">
            <list>
                <bean class="com.evolutionnext.Member">
                    <constructor-arg index="0" value="Ray"/>
                    <constructor-arg index="1" value="Lewis"/>
                </bean>
                <bean class="com.evolutionnext.Member">
                    <constructor-arg index="0" value="Ray"/>
                    <constructor-arg index="1" value="Rice"/>
                </bean>
                <bean class="com.evolutionnext.Member">
                    <constructor-arg index="0" value="Tony"/>
                    <constructor-arg index="1" value="Romo"/>
                </bean>
                <bean class="com.evolutionnext.Member">
                    <constructor-arg index="0" value="Jason"/>
                    <constructor-arg index="1" value="Witten"/>
                </bean>
                <bean class="com.evolutionnext.Member">
                    <constructor-arg index="0" value="Phillip"/>
                    <constructor-arg index="1" value="Rivers"/>
                </bean>
            </list>
        </property>
    </bean>

    <bean id="registerPlayer" class="com.evolutionnext.RegisterPlayer"/>

    <bean id="timedAspect" class="com.evolutionnext.TimedAspect"/>

    <aop:config>
        <aop:aspect ref="timedAspect">
            <aop:before method="timed" pointcut="execution(* com.evolutionnext.RegisterPlayer.addPlayer(..))"/>
        </aop:aspect>
    </aop:config>

    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
        <property name="driverClassName" value="org.hsqldb.jdbcDriver"/>
        <property name="url" value="jdbc:hsqldb:hsql://localhost/artistdb"/>
        <property name="username" value="sa"/>
        <property name="password" value=""/>
        <property name="initialSize" value="5"/>
        <property name="maxActive" value="10"/>
    </bean>

    <bean id="jdbcTemplate"
          class="org.springframework.jdbc.core.simple.SimpleJdbcTemplate">
        <constructor-arg ref="dataSource"/>
    </bean>


</beans>